/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/montserrat-v25-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('/static/fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/static/fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/static/fonts/montserrat-v25-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('/static/fonts/montserrat-v25-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/static/fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

.navbar .container-fluid, 
.navbar-expand-md .navbar-collapse, 
.navbar-expand-md .navbar-nav{
  flex-direction: column;
  align-items: flex-start;
}

.nav-link {
    color: rgba(250, 145, 20);
}


table {
    border-collapse:collapse;
    border:solid black 1px;
    border-radius:6px;
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

th {
    background-color: rgb(31, 31, 36);
    /*color: rgba(250, 145, 20);*/
    color: lightgrey;
    border-top: none;
    text-align: center;
}

td:first-child, th:first-child {
     border-left: none;
}

.custom-header-line {
    background-image: url('/static/images/logo.jpg'); height: 100px; background-repeat: no-repeat;
    text-align: right;
    vertical-align: middle;
}


.custom-language-line {
    text-align: right;
    vertical-align: middle;
}

.custom-internetnl-badge {
    width: 160px;
}


.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"/></svg>');
}
@media only screen and (min-width: 900px) {
    .custom-background-image {
        background-image: url('/static/images/wrapper_header_bg.jpg');
        height: 100vh;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
@media only screen and (max-width: 900px) {
    .custom-nav-rounded-border {
        background-color: white;
    }
}
@media only screen and (min-width: 900px) {
    .custom-nav-rounded-border {
        background-color: rgba(48, 64, 77);
    }
    
}


.custom-notVisible {
    visibility: hidden;
}

.aboutPage, .privateprojects, .skills, .projects, .aboutme, .contact, .legalInfo {
    margin: 10px;
    
    font-size: smaller;
}

.custom-photo {
    float: left;
}

.custom-language-img {   
    height: 25px;
    width: 25px;
    margin: 5px;
}
.custom-github-link {
    font-size: 9px;
}

.project-container {
    margin: 5px;
    font-size: 10px;
}

#content {
    color: black;
    /*position: absolute;
    left: calc(50vw - 500px);*/
    height: 550px;
    max-height: 550px;
    border-radius: 10px;
    background-color: rgba(240, 240, 240, 0.3);
    overflow-y: auto;

    scrollbar-color: orange lightyellow;
    scrollbar-width: thin;
}
#content::-webkit-scrollbar {
    width: 5px;
}

#content::-webkit-scrollbar-track {
    background-color: lightyellow;
}

#content::-webkit-scrollbar-thumb {
    background-color: orange;
}

.custom-fadeIn {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.custom-fadeOut {
    animation: fadeOut 1s;
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -o-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
}

.custom-no-break {
    white-space: pre;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}