<p class="aboutme">
    {{ get_translation(key="translations.aboutme.title") }}
</p>
<img src="/static/images/foto_1.jpg" alt="{{ get_translation(key='translations.aboutme.alt_photo') }}"/>
<p class="aboutme">
    {{ get_translation(key="translations.aboutme.text") }}
</p>
