<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    {% endblock meta %}
    
{% include "tera/css.html.tera" %}

    <title>Christopher Fuchs IT Consulting</title>
</head>

<body>
    {% block content %}
    {% endblock content %}

    
    <script src="/static/scripts/bootstrap.bundle.js"></script>
    <script src="/static/scripts/jquery-3.6.3.min.js"></script>
    <script src="/static/scripts/page.js"></script>
</body>

</html>